.vs-botao-buscar
{
   background-color: var(--vs-cor-fundo-botao);
   border: none;
   border-radius: 0 5px 5px 0;
   color: var(--vs-cor-fonte-branca);
   font-size: 14px;
   font-weight: 700;
   padding: 11px;
   text-transform: uppercase;
}

.vs-controle-form
{
   height: 40px;
   width: 100%;
}

.vs-form-barra-busca
{
   display: flex;
}

.vs-form-barra-busca input
{
   border: 1px solid var(--vs-cor-borda-cinza);
   border-radius: 5px 0 0 5px;
   border-right: none;
   padding: 0 15px;
}

.vs-form-barra-busca input:focus
{
   outline: none;
}
